{% extends '::base.html.twig' %}

{% block body %}


    <div id="wrapper" xmlns="http://www.w3.org/1999/html">
        <!-- start header -->

        <!-- end header -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active">Qui somme nous? / L'ONT en chiffre</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-offset-1" align="justify">
                        <h1> <b> <p style="font-size:22px"> Chiffres</p></b></h1>

                        <hr class="colorgraph">
                        <br />

                        <h1 style="font-size: 16px;"> <b> Indicateur 2013 : </b></h1>
                        <br />

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th scope="row"><b>Effectif</b></th>
                                <td>617</td>
                            </tr>
                            <tr>
                                <th scope="row"><b>Taux d’encadrement</b></th>
                                <td>47,81%</td>
                            </tr>
                            <tr>
                                <th scope="row"><b>Nombre de stations de diffusion</b></th>
                                <td>104</td>
                            </tr>
                            </tbody>
                        </table>

                        <h1 style="font-size: 16px;"> <b>Nombre d'heurs de diffusion par programme pour l'année 2013:</b></h1>
                        <br />

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><b>Désignation</b></th>
                                <th><b>	Chaine</b></th>
                                <th><b>Le nombre annuel des heures de diffusion</b></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row"><b> Diffusion TV Terrestre Analogique</b></th>
                                <td>National 1</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>National 2</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"><b>Diffusion TV Terrestre Numerique </b></th>
                                <td>National 1</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>National 2</td>
                                <td>6973</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>RAI UNO</td>
                                <td>8808</td>
                            </tr>

                            <tr>
                                <th scope="row"><b>Diffusion TV via Satellite </b></th>
                                <td>National 1</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>National 2</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Hannibal TV</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Nesma TV</td>
                                <td>8808</td>
                            </tr>

                            <tr>
                                <th scope="row"><b>Couverture Radio sur la bande FM </b></th>
                                <td>Radio nationale</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Radio culturelle</td>
                                <td>6606</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Radio International</td>
                                <td>6606</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Radio Zitouna</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Radio Jeune</td>
                                <td>6606</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Radio régional de Sfax</td>
                                <td>6973</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Radio régional de Monastir</td>
                                <td>6973</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Radio régional du Kef</td>
                                <td>6973</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Radio régional de Gafsa</td>
                                <td>6973</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Radio régional de Tataouine</td>
                                <td>6973</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Mosaique FM</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Jawhara FM</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Shems FM</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>EXPRESS FM</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>OXYGENE  FM</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>IFM</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>OASIS  FM</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>CAP FM</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>KALIMA  FM</td>
                                <td>7704</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>SABRA FM</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>ULYSSE  FM</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>CHAAMBI FM</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row">Couverture Radio sur l'Onde Moyenne (OM)</th>
                                <td>Radio nationale</td>
                                <td>6606</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Radio Culturelle</td>
                                <td>8808</td>
                            </tr>
                            <tr>
                                <th scope="row">Couverture Radio sur l'Onde Courte (OC)</th>
                                <td>Radio nationale</td>
                                <td>2832</td>
                            </tr>

                            </tbody>
                        </table>
                        <br />
                        <hr class="colorgraph">

                    </div>
                </div>
            </div>
        </section>


{% endblock %}