{% extends '::base.html.twig' %}

{% block body %}


    <div id="wrapper" xmlns="http://www.w3.org/1999/html">
    <!-- start header -->

    <!-- end header -->
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                        <li class="active"> Activités / Contrôle qualité de réception</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-1" align="justify">
                    <h1> <b> <p style="font-size:22px">Protection et contrôle de la qualité de reception des programmes radio et TV</p></b></h1>

                    <hr class="colorgraph">

                    <div class="row">
                        <div class="col-sm-5 col-md-4"><img src="{{ asset('templates/img/protection1.jpg') }}" alt=""  height="300" width="220"/></div>
                        <div class=" col-md-6 "> <br />• <b>L</b>’office National de la télédiffusion, soucieux de protéger les auditeurs et
                            les téléspectateurs contre les brouillages extérieurs et d’assurer une qualité de service conforme aux
                            normes internationales, est équipé de deux véhicules de mesure de la couverture et de contrôle de la qualité
                            du signal radioélectrique.<br /> <br /> <br />
                            • <b>L</b>es équipements montés à bord des deux véhicules permettent d'effectuer les mesures de la qualité du service et de localisation et de repérage des brouilleurs.
                        </div>
                        </div>

                    <hr class="colorgraph">

                </div>
            </div>
        </div>
    </section>





{% endblock %}