{% extends '::base.html.twig' %}

{% block body %}


    <div id="wrapper" xmlns="http://www.w3.org/1999/html">
        <!-- start header -->

        <!-- end header -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active"> Produits / Développement et maintenance des réseaux de radiocommunications</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-offset-1" align="justify">
                        <h1> <b> <p style="font-size:22px">Développement, gestion et entretien des réseaux de radiocommunications</p></b></h1>

                        <hr class="colorgraph">
                        <br />



                        <p style="font-size: 18px;color: #357ebd;"><b>  Présentation</b></p>
                        <br />
                        <p><b>L</b>’ONT peut se charger, pour le compte des tiers et dans les limites de ses compétences, moyennant convention ou commandes de services,
                            des études, du développement de réseau d’une part, de l’hébergement, de la mise à niveau, de la gestion et de l’entretien des équipements
                            des réseaux de radiocommunications d’autre part.
                            Ces tiers peuvent être des entreprises publiques ou privées, préalablement autorisées.</p>
                        <br />




                        <br />
                        <hr class="colorgraph">

                    </div>
                </div>
            </div>
        </section>


{% endblock %}