{% extends '::base.html.twig' %}

{% block body %}


    <div id="wrapper" xmlns="http://www.w3.org/1999/html">
    <!-- start header -->

    <!-- end header -->
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                        <li class="active"> Activités / Ecoute RADIO</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-1" align="justify">
                    <h1> <b> <p style="font-size:22px">Ecoute RADIO</p></b></h1>
                    <hr class="colorgraph">


                    <p><b> • Introduction :</b></p>
                   <p> <b>G</b>râce aux ondes courtes, un auditeur peut faire le tour du monde en une soirée en écoutant tous ses programmes préférés :
                    il lui suffit de disposer d’un récepteur radio qui comporte cette gamme de fréquences (O.C. ou S.W.).</p>
                    <p><b>P</b>lusieurs pays émettent leurs programmes Radio sur ondes courtes, la Tunisie en fait partie. Ainsi,
                        nous vous présentons dans ce qui suit, les informations nécessaires pour écouter notre programme radio diffusé
                        en ondes courtes.</p>

                    <br />

                    <p><b> • Station d'émission :</b></p>
                    <p> <b>E</b>n Tunisie, c’est la station de <b>Sidi Mansour</b> qui est exploitée pour la diffusion des programmes de la radio nationale en
                        langue arabe sur ondes courtes. Cette station est située à proximité d’un village côtier, renommé par la pêche aux petits bateaux,
                        situé à environ 5 Km du chef-lieu <b> SFAX</b>, deuxième ville de la Tunisie, avec 500.000 Habitants,
                        situé au sud- est, à 270 Km de Tunis.</p>

                    <br />

                    <p><b> • Tableau des fréquences :</b></p>
                    <p> <b>L</b>e tableau suivant récapitule les zones couvertes par nos émetteurs diffusant les programmes RTCN,
                        avec indication des fréquences et l'heure d'émission : </p>

                    <br />
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>L'Europe de l'Ouest</th>
                            <td> • Sur 7225 KHZ, de 18 :00 à 22 :10 UTC <br /> • Sur 7275 KHZ, de 05 :00 à 07 :30 UTC</td>
                        </tr>

                        <tr>
                            <th>Le Moyen-Orient</th>
                            <td>• Sur 9725 & 12005 KHZ, de 04 :00 à 06 :10 UTC <br />
                                • Sur 9725 & 12005 KHZ, de 17 :00 à 21 :10 UTC</td>
                        </tr>
                        <tr>
                            <th>Le Maghreb</th>
                            <td>•Sur 7335 KHZ, de 07 :00 à 09 :10 UTC <br />
                                • Sur 7345 KHZ, de 20 :00 à 24 :10 UTC</td>
                        </tr>
                        </tbody>
                    </table>
                    <br />

                    <p><b> • Rapport d'écoute et carte QSL :</b></p>
                    <p> <b>L</b>’Office, soucieux des conditions de réception des programmes diffusés,
                        donne une importance particulière au rapport d'écoute préparé par les auditeurs,
                        et particulièrement les radio-amateurs. Leurs rapports d’écoute dans lesquels ils ont toute
                        la latitude d’évaluer la qualité de réception du programme radio,
                        selon un code approprié, appelé SINPO, sont particulièrement suivis.</p>

                    <br />

                    <p><b> • NOTA : SINPO</b></p>
                   <p> <b> &emsp; S:</b> Force du signal</p>
                    <p> <b> &emsp;I:</b> Interférence</p>
                    <p> <b> &emsp;N:</b> Bruit</p>
                    <p> <b> &emsp;P:</b> Profondeur des évanouissements.</p>
                    <p> <b> &emsp;O:</b> Appréciation</p>
                    <br />
                    <p>L'envoi d'un rapport d'écoute à notre administration vous permettez d'obtenir une carte QSL .</p>
                    <br /> <br />

                    <div align="center">
                        <b><u>Adresse</u></b><br /><br />Office National de la Télédiffusion<br />
                        Cité Ennasim I – Montplaisr– BP 399 – 1080 Tunis ( Tunisie )<br />
                        Tél : (+216)  71 908 177  Fax : (+216)71 904 923<br />
                        E- mail : <a href="mailto:ecoute@telediffusion.net.tn">ecoute@telediffusion.net.tn</a>
                    </div>





                    <hr class="colorgraph">

                </div>
            </div>
        </div>
    </section>





{% endblock %}