{% extends '::base.html.twig' %}

{% block body %}


    <div id="wrapper" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <!-- start header -->

    <!-- end header -->
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                        <li class="active"> TNT / Etape de réalisation de la TNT</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-1" align="justify">
                    <h1> <b> <p style="font-size:22px"> Etapes de réalisation de la TNT</p></b></h1>

                    <hr class="colorgraph">
                    <br />


                    <p><b>D</b>ans le cadre de la veille technologique et le passage du mode analogique au mode numérique dans le domaine
                        de la radiodiffusion télévisuelle par voie terrestre. Et pour être au diapason de ces innovations technologiques,
                        à l’échelle internationale, la Tunisie à travers l'Office National de Télédiffusion a planifié les étapes suivantes pour
                        la numérisation de ses réseaux de radiodiffusion terrestre:</p><br />

                     <b> <p style=" color: blue;"> • Première étape: </p></b>

                    <p><b>M</b>ise en place, depuis 2001, d'une unité de diffusion TV numérique DVB-T expérimentale,
                        selon la compression MPEG-2, à partir de la station de Boukornine, qui assure la couverture du grand Tunis
                        (25% de la population). Ce projet expérimental a mis en évidence les avantages de la numérisation à savoir :
                       <br />
                        -Une meilleure qualité des signaux vidéo et audio <br />
                        -L'augmentation de la capacité des réseaux de diffusion à travers la formation et la transmission de bouquets TV numérique:
                        une couche réseau de diffusion numérique permettra la transmission de 4 à 6 programmes TV, au lieu d'un seul programme
                        TV dans le cas d'un réseau analogique.<br />
                        -L'économie du spectre radioélectrique et de la consommation d'énergie.<br />
                        -La possibilité d'introduction de nouveaux services multimédias.<br />
                        En phase préparatoire, il y a eu la préparation du plan de fréquences, du réseau de Télévision numérique terrestre
                        et la signature des actes finals de la conférence régionale de radiocommunications Genève 2006, organisé par l'Union
                        Internationale de Télécommunications, qui recommande l'extinction des services de radiodiffusion analogique terrestre
                        vers les environs de 2015, et leur remplacement par les systèmes de radiodiffusion numérique.<br /><br />
                        Dans le cadre de l'extension de la couverture de la télévision numérique terrestre à 90% du territoire, l'Office National de Télédiffusion a procédé à la réalisation de la deuxième étape suivante :
                        <b> <p style=" color: blue;"> • Deuxième étape: </p></b> <p>qui inclut la réalisation des deux tranches suivantes :</p>

                    </p><br />
                    <p>  <b>  1- Première tranche :</b>Numérisation du réseau de transmission et de transport reliant les studios de production
                    aux différentes stations de diffusion. Le réseau se compose de 41 stations de transmission réparties sur tout le territoire.
                    Cette étape constitue la première tranche, du projet de la télévision numérique terrestre TNT, et sa réalisation ainsi que
                    sa mise en service est finalisée durant la période 2008-2009. Le coût de ce projet s’élève à 27 millions de dinars TTC.</p>
                    <br />

                    <p>  <b>  2- Deuxième tranche :</b>Réseau National de diffusion numérique terrestre vers les téléspectateurs,
                        qui se compose de 17 stations, réparties sur tout le territoire et réalisé dans le cadre d’un marché avec la
                        firme Thomson Grass Valley (France). Le projet est entré en vigueur en Août 2009, et réalisé durant 2009-2010.
                        Son coût s’élève à 13 millions de dinars TTC. Dans le cadre de la deuxième tranche du projet TNT,
                        l’ONT a migré la norme de compression MPEG4 permettant la diffusion d’un bouquet de chaînes TV allant en
                        nombre jusqu’ ‘au 12 programmes en SD (définition standard) ou un programme HD (haute définition) et 8 programmes SD.</p>
                    <br />
                    <br />

                    <hr class="colorgraph">

                </div>
            </div>
        </div>
    </section>


{% endblock %}