{% extends '::base.html.twig' %}

{% block body %}


    <div id="wrapper" xmlns="http://www.w3.org/1999/html">
        <!-- start header -->

        <!-- end header -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active"> Produits / Transmission satellite radio et TV via station terrienne mobile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-offset-1" align="justify">
                        <h1> <b> <p style="font-size:22px">Transmission satellite radio et TV via station terrienne mobile</p></b></h1>

                        <hr class="colorgraph">
                        <br />



                        <p style="font-size: 18px;color: #357ebd;"><b>  Présentation</b></p>
                        <br />
                        <p><b>L</b>’ONT est en mesure d’offrir dans l’enceinte de ses centres, aux organismes autorisés et opérant dans le domaine des
                            télécommunications ou des radiocommunications,des espaces destinés à l’implantation de leurs équipements,
                            particulièrement sur les points hauts du pays.</p><br />
                            <p>Cette Offre porte sur les facilités suivantes :</p>
                        <div class="col-sm-offset-1">
                            - Des espaces aménagés à l’intérieur des locaux de ses centres de diffusion<br />
                            - Des emplacements sur les pylônes ou les supports d'antennes<br />
                            - La fourniture de l’énergie électrique <br />
                            - Le gardiennage <br />
                            - L’entretien des équipements, sur demande et selon une convention à définir par les deux parties<br />
                        </div>
                        <br />





                        <br />
                        <p style="font-size: 18px;color: #357ebd;"><b> Tarifs en vigueur pour l'année 2012</b></p>
                        <br />

                        <div style="background-color: oldlace">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th><b>Désignation</b></th>
                                    <th><b>U</b></th>
                                    <th><b>CU</b></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Frais d'implantation (payable une seule fois)</td>
                                    <td>Station</td>
                                    <td>824 DT</td>
                                </tr>

                                <tr>
                                    <td>Frais d'occupation (volume et surface aliénés par les équipements abrités))</td>
                                    <td>m 2 /an</td>
                                    <td>1575 DT</td>
                                </tr>

                                <tr>
                                    <td>Coût d'utilisation du pylône</td>
                                    <td>Antenne/an</td>
                                    <td>2163 DT</td>
                                </tr>
                                <tr>
                                    <td>Coût de l'énergie électrique</td>
                                    <td>Kwh</td>
                                    <td>0.372 DT</td>
                                </tr>
                                <tr>
                                    <td>Maintenance préventive routinière des locaux</td>
                                    <td>Station/an</td>
                                    <td>2043 DT</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />




                        <br />
                        <hr class="colorgraph">

                    </div>
                </div>
            </div>
        </section>


{% endblock %}