{% extends '::base.html.twig' %}

{% block body %}


    <div id="wrapper" xmlns="http://www.w3.org/1999/html">
    <!-- start header -->

    <!-- end header -->
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                        <li class="active">Qui somme nous? / Missions</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-1" align="justify">
                    <h1> <b> <p style="font-size:22px"> Missions de l'ONT</p></b></h1>

                    <hr class="colorgraph">


                    <p style="font-size:18px"><b> Assurer la diffusion des programmes radiophoniques et télévisuels, et ce, par :</b></p>
                    <br />

                        <p style="float: left"><img src="{{ asset('templates/img/puce.gif') }}" alt="" /></p>
                        <p style="line-height: 25px;"><b>L</b>a création, l’exploitation, l’entretien et l’extension des réseaux de diffusion des programmes radiophoniques et télévisés.</p>
                    <br />
                        <p style="float: left"><img src="{{ asset('templates/img/puce.gif') }}" alt="" /></p>
                        <p style="line-height: 25px;"><b>L</b>e contrôle et la protection de la qualité de la réception des émissions des programmes radiophoniques et télévisés.</p>
                    <br />
                    <p style="float: left"><img src="{{ asset('templates/img/puce.gif') }}" alt="" /></p>
                    <p style="line-height: 25px;"><b>L</b>a conduite des études et recherches portant sur le matériel et les techniques de radiodiffusion et de télédiffusion ainsi que la participation à la mise au point des normes y afférentes.</p>
                    <br />
                    <p style="float: left"><img src="{{ asset('templates/img/puce.gif') }}" alt="" /></p>
                    <p style="line-height: 25px;"><b>L</b>a promotion et la coopération avec les organismes techniques internationaux et étrangers et en coordination avec les institutions nationales concernées.</p>
                    <hr class="colorgraph">

                </div>
            </div>
        </div>
    </section>







{% endblock %}