{% extends '::base.html.twig' %}

{% block body %}


    <div id="wrapper" xmlns="http://www.w3.org/1999/html">
    <!-- start header -->

    <!-- end header -->
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                        <li class="active">Qui somme nous? / Organisation</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-1" align="justify">
                    <h1> <b> <p style="font-size:22px"> Organisation de l'ONT</p></b></h1>

                    <hr class="colorgraph">

                    <p><b>L</b>’organisation administrative et financière de l’ONT est régie par le <a href="{{ asset('templates/files/93_1606.pdf') }}" target="_blank"><b>décret n°93-1606 du 26 juillet 1993</b></a> .</p>
                    <br />
                    <p style="font-size:14px"><b>Organisation administrative</b></p>
                    <br />
                    <p><b>L</b>’Office est administré par un conseil d’administration présidé par un président directeur général et comprenant les membres suivants :</p>


                    <p>&emsp;&emsp;&emsp;- Deux représentants du premier ministère</p>
                    <p>&emsp;&emsp;&emsp;- Un représentant du ministère de l’intérieur</p>
                    <p>&emsp;&emsp;&emsp;- Un représentant du ministère de la défense nationale</p>
                    <p>&emsp;&emsp;&emsp;- Un représentant du Ministère des finances</p>
                    <p>&emsp;&emsp;&emsp;- Deux représentants du ministère des technologies de l’information  et de la communication</p>
                    <p>&emsp;&emsp;&emsp;- Un représentant du l’établissement de la télévision tunisienne</p>
                    <p>&emsp;&emsp;&emsp;- Un représentant du centre des études et de recherche en télécommunications</p>
                    <br />

                    <p><b>L</b>e statut particulier du personnel de l’ONT est approuvé par le <a href="{{ asset('templates/files/1226fr.pdf') }}" target="_blank"><b> décret n°1226-2000 du 5juin 2000</b></a> .</p>
                    <p><b>L</b>’organigramme de l’ONT est défini par le <a href="{{ asset('templates/files/1226fr.pdf') }}" target="_blank"><b> décret n°2000-1889 du 24 août 2000 </b></a>,tel que modifié par le decret n°485 du 18 février 2008.</p>
                    <br />

                    <p>  <a href="{{ asset('templates/files/organ_frr.pdf') }}" target="_blank"><b>[ Consulter Orgnigrmme]</b></a></p>
                    <br />
                    <p style="font-size:14px"><b>Organisation finançière</b></p>
                    <br />

                    <p><b>L</b>a comptabilité de l’Office est régie conformément aux règles de La comptabilité commerciale.
                    L 'exercice comptable commence le 1er janvier et se termine le 31 décembre de chaque année.</p>
                    <br />

                    <hr class="colorgraph">

                </div>
            </div>
        </div>
    </section>




{% endblock %}