{% extends '::base.html.twig' %}

{% block body %}


    <div id="wrapper" xmlns="http://www.w3.org/1999/html">
    <!-- start header -->

    <!-- end header -->
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                        <li class="active">Qui somme nous? / Présentation</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-1" align="justify">
                    <h1> <b> <p style="font-size:22px"> Présentation de l'ONT</p></b></h1>

                    <hr class="colorgraph">

                    <img src="{{ asset('templates/img/img1.jpg') }}" alt="" />
                    <p><b>L</b>’ Office National de la Télédiffusion « ONT » a été créé en vertu la loi n°93-8 du 1er février 1993.</p>
                    <p><b>L</b>’ONT est un établissement public à caractère non administratif doté de la personnalité civile et de l’autonomie financière.</p>
                    <p><b>L</b>’ONT est placé sous la tutelle du Ministère  des Technologies  de la Communication et de l'Economie Numérique, de la Recherche Scientifique et des Technologies de l'information et de la Communication.</p>
                     <br />
                    <p><b>Adresse :</b> Cite Ennassim 1 - Montplaisir BP 399 - 1080 Tunis - Tunisie</p>
                    <p><b>Téléphone :</b> (+216) 71 908 177</p>
                    <p><b>Fax :</b> (+216) 71 904 923</p>
                    <p><b>E mail :</b> Ont@telediffusion.net.tn</p>
                    <hr class="colorgraph">

                </div>
            </div>
        </div>
    </section>




{% endblock %}