{% extends '::base.html.twig' %}

{% block body %}


    <div id="wrapper" xmlns="http://www.w3.org/1999/html">
        <!-- start header -->

        <!-- end header -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active">Infrastructures /  Réseaux de diffusion Radio</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-offset-1" align="justify">
                        <h1> <b> <p style="font-size:22px"> Les réseaux de diffusion Radio</p></b></h1>

                        <hr class="colorgraph">
                        <br />

                        <p style="font-size:18px"><b> L’Office National de la Télédiffusion assure la diffusion des programmes radio suivants : </b></p>
                        <br />

                        <p><b>- L</b>a chaîne radio nationale est diffusée en ondes moyennes, en ondes courtes,
                            en modulation de fréquences et sur les satellites qui diffusent les programmes de la télévision nationale1.
                            La diffusion de la chaîne radio nationale sur le réseau terrestre couvre l’ensemble du pays.</p>
                        <br />
                        <p><b>- L</b>a chaîne radio internationale "RTCI" est diffusée en modulation de fréquences et sur les satellites qui diffusent les programmes de la télévision nationale1.
                        La diffusion de la chaîne radio "RTCI" sur le réseau terrestre est assurée pour 86% de la population.</p>
                        <br />
                        <p><b>- L</b>a chaîne Radio Jeunes est diffusée en modulation de fréquences avec une couverture pour 98% de la population.</p>
                        <br />
                        <p><b>- L</b>a chaîne Radio culturelle RC est diffusée en ondes moyennes,  en modulation de fréquences et sur les satellites qui diffusent les programmes de la télévision nationale1.
                            La diffusion de la chaîne radio "RC" sur le réseau terrestre est assurée pour 97% de la population.</p>
                        <br />
                        <p><b>- L</b>es cinq chaînes radios régionales : Sfax, Monastir, Gafsa, Le Kef et Tataouine.
                            Ces radios sont diffusées en modulation de fréquences sur des réseaux régionaux.</p>
                        <br />
                        <p><b>- L</b>a chaîne radio privée Mosaïque FM, diffusée en modulation de fréquences avec une couverture limitée
                            à la région du Grand Tunis et le Nord du Cap Bon.</p>
                        <br />
                        <p><b>- L</b>a chaîne radio privée Jawhara FM, diffusée en modulation de fréquences avec
                            une couverture limitée sur le centre EST et la région du sahel.</p>
                        <br />
                        <p><b>- L</b>a chaîne radio privée Zitouna FMest diffusée en modulation de fréquences avec une couverture environ de 100% de
                            la population et sur les satellites "Arabsat BADR6" et "NILESAT 104".</p>
                        <br />
                        <p><b>- L</b>a chaîne radio privée Shams FM, diffusée en modulation de fréquences avec une couverture environ de 60% de la population.</p>
                        <br />
                        <p><b>- L</b>a chaîne radio privée Express FM, diffusée en modulation de fréquences avec une couverture
                            limitée sur le Grand Tunis et la région du Sfax.</p>
                        <br />
                        <p><b>- L</b>a chaîne radio privée Oxygène FM, diffusée en modulation de fréquences avec une couverture limitée sur la région de Bizerte.</p>
                        <br />
                        <p><b>- L</b>a chaîne radio privée IbtisamaFM, diffusée en modulation de fréquences avec une couverture limitée sur le Grand Tunis.</p>
                        <br />
                        <p><b>- L</b>a chaîne radio privée Oasis FM, diffusée en modulation de fréquences avec une couverture limitée sur la région de Gabes.</p>
                        <br />
                        <p><b>- L</b>a chaîne radio privée Cap FM, diffusée en modulation de fréquences avec une couverture limitée sur le Cap Bon.</p>
                        <br />
                        <p><b>- L</b>a chaîne radio privée SABRA FM, diffusée en modulation de fréquences avec une couverture limitée sur la région kairouan</p>
                        <br />
                        <p><b>- L</b>a chaîne radio privée CHAAMBI FM, diffusée en modulation de fréquences avec une couverture limitée sur la région Kasserine.</p>
                        <br />
                        <p><b>- L</b>a chaîne radio privée KALIMA FM, diffusée en modulation de fréquences avec une couverture limitée sur le Grand tunis.</p>
                        <br />
                        <p><b>- L</b>a chaîne radio privée ULYSSE FM, diffusée en modulation de fréquences avec une couverture limitée sur la région Mednine.</p>
                        <br />
                        <br />

                        <hr class="colorgraph">

                    </div>
                </div>
            </div>
        </section>


{% endblock %}