{% extends '::base.html.twig' %}

{% block body %}


    <div id="wrapper" xmlns="http://www.w3.org/1999/html">
        <!-- start header -->

        <!-- end header -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active">Infrastructures /  Réseaux de diffusion TV</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-offset-1" align="justify">
                        <h1> <b> <p style="font-size:22px"> Les réseaux de diffusion TV </p></b></h1>

                        <hr class="colorgraph">
                        <br />

                        <p style="font-size:18px"><b>L’Office National de la Télédiffusion assure la diffusion des programmes des chaînes de télévision suivantes : </b></p>
                        <br />


                        <p><b>L</b>a chaîne de télévision nationale1 est diffusée :
                            <br />
                            &emsp;&emsp;&emsp;- en analogique sur les réseaux terrestres VHF/UHF.
                            <br />
                            &emsp;&emsp;&emsp;- en numérique sur les satellites Eutelsat 12WA, Hotbird 8, Badr 4 et Nilesat 104 .
                            La diffusion de la télévision nationale1 en analogique sur le &emsp;&emsp;&emsp;&emsp;réseau terrestre, est assurée pour 99,8 % de la population .</p>
                        <br />
                        <p><b>L</b>a chaîne de télévision pour jeunes télévision nationale2 est diffusée :</p>

                          <p>  &emsp;&emsp;&emsp;- En analogique sur les réseaux terrestres UHF.</p>

                            <p>&emsp;&emsp;&emsp;- En numérique sur les satellites Badr 4 et Nilesat 104 .
                            La diffusion de la télévision pour jeunes "télévision nationale2" en analogique sur le réseau &emsp;&emsp;&emsp;&emsp;terrestre, est assurée pour 99,6 % de la population </p>
                        <br />

                        <p><b>P</b>our assurer ces services, l’ONT exploite une centaine de sites d’émission et de réémission repartis à travers tout le pays.</p>
                        <br />
                           <p> <b>L</b>es sites de diffusion principaux sont reliés entre-eux et au centre de distribution et de contrôle de l’image, du son et des données, appelé ‘’Centre Nodal de Tunis’’, par un réseau de faisceaux hertziens de grande capacité, long de 4000 Km environ.</p>
                        <br />
                           <p> <b>L</b>es réseaux de diffusion TV analogiques sont sécurisés et procurent, à travers les stations de diffusion principales et secondaires, une disponibilité du service qui avoisine les 100% du temps.</p>

                          <br />

                        <hr class="colorgraph">

                    </div>
                </div>
            </div>
        </section>


{% endblock %}