{% extends '::base.html.twig' %}

{% block body %}



    <div id="wrapper" xmlns="http://www.w3.org/1999/html">
    <!-- start header -->

    <!-- end header -->
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                        <li class="active">Qui somme nous? / RH</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-1" align="justify">
                    <h1> <b> <p style="font-size:22px"> Ressources humaines</p></b></h1>

                    <hr class="colorgraph">


                    <br />

                    <h1 align="center" style="font-size: 18px;"> <b> Répartition du personnel au 31-12-2013 </b></h1>
                    <br />
                    <br />


                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><b>Collège</b></th>
                            <th><b>Masculin</b></th>
                            <th><b>Féminin</b></th>
                            <th><b>Total</b></th>
                            <th><b>Pourcentage</b></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row"><b>Cadre</b></th>
                            <td>273</td>
                            <td>22</td>
                            <td>295	</td>
                            <td>47.81</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>Maitrise</b></th>
                            <td>157</td>
                            <td>23</td>
                            <td>180</td>
                            <td>29.17</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>Exécution</b></th>
                            <td>129</td>
                            <td>13</td>
                            <td>142</td>
                            <td>23.02</td>
                        </tr>

                        <tr>
                            <th scope="row"><b>Total</b></th>
                            <td>559</td>
                            <td>58</td>
                            <td>617</td>
                            <td>100</td>
                        </tr>

                        </tbody>
                    </table>

                    <hr class="colorgraph">

                </div>
            </div>
        </div>
    </section>


{% endblock %}