{% extends '::base.html.twig' %}

{% block body %}


    <div id="wrapper" xmlns="http://www.w3.org/1999/html">
        <!-- start header -->

        <!-- end header -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active"> Produits /  Services d'interconnexion et d'accès</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-offset-1" align="justify">
                        <h1> <b> <p style="font-size:22px"> Services d'interconnexion et d'accès</p></b></h1>

                        <hr class="colorgraph">
                        <br />



                        <p style="font-size: 18px;color: #357ebd;"><b>  Présentation</b></p>
                        <br />
                        <p><b>L</b>L’Office National de la Télédiffusion dispose d’un réseau de transmission composé de bonds
                            de faisceaux hertziens qui relient ses stations de diffusion radio et TV réparties sur le territoire
                            national.</p><br />

                        <p><b>L</b>’Office National de la Télédiffusion dispose, le long de son réseau, d’un excédent de capacitéconsistant
                            en des liens à 2Mbit/s qu’il se propose de louer aux Opérateurs de Réseaux Publics de Télécommunications
                            conformément aux dispositions de l’article 28 bis du code des télécommunications promulgué par
                            la loi n°2001-1 du 15 Janvier 2001telle que modifiée et complétée par la loi n°2002-46 du 7 mai 2002 et
                            la loi n°2008-01 du 08 janvier 2008 et qui stipule que :« l’Office National de la Télédiffusion peut louer aux
                            Opérateurs des Réseaux Publics des Télécommunications la capacité excédentaire dont il dispose sur son réseau
                            après avoir exploité les ressources nécessaires à ses besoins».
                        </p><br />
                        <p><b>A</b> cet effet, l’Office National de la Télédiffusion propose une Offre Technique et Tarifaire d’Interconnexion
                            qui porte sur les services d’interconnexion et d’accès suivants :
                        </p><br />

                        <div class="col-sm-offset-1">
                            1 -	Prestations de location de liaisons spécialisées.<br />
                            2 - Prestations de colocalisation dans les sites de l’ONT.<br />
                            3 - Utilisation commune des pylônes et points hauts.<br />
                        </div>
                        <br />
                        <p>Peuvent bénéficier de cette offre les Opérateurs de Réseaux Publics de Télécommunications (ORPT) titulaires de licences octroyées conformément
                            aux dispositions de l'article 19 du code des télécommunications.</p> <br/>
                        <p><b>L</b>es tarifs présentés dans ce document s’entendent hors TVA. Ils sont exprimés en dinars tunisiens.</p>
                        <br />
                        <br />
                        <br />

                       <a href="{{ asset('templates/files/offretechnique.pdf') }}" style="color: #00A8FF"; target="_blank"> Télécharger offre technique et tarifaire d'interconnexion</a><br /><br />
                       <p> <a href="{{ asset('templates/files/decision.pdf') }}" style="color: #00A8FF"; target="_blank"> Télécharger décision INT</a></p><br />


                        <hr class="colorgraph">

                    </div>
                </div>
            </div>
        </section>


{% endblock %}