{% extends '::base.html.twig' %}

{% block body %}


    <div id="wrapper" xmlns="http://www.w3.org/1999/html">
        <!-- start header -->

        <!-- end header -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active"> Produits / Transmission satellite radio et TV via station terrienne mobile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-offset-1" align="justify">
                        <h1> <b> <p style="font-size:22px">Transmission satellite radio et TV via station terrienne mobile</p></b></h1>

                        <hr class="colorgraph">
                        <br />



                        <p style="font-size: 18px;color: #357ebd;"><b>  Présentation</b></p>
                        <br />
                        <p><b>L</b>'ONT assure à la demande de ses clients les services suivants :<br />

                            • L’ONT offre à tout organisme, radio ou TV, national ou étranger, préalablement autorisé, les transmissions radio et TV, par satellites, à travers la station terrienne transportable type D-SNG, opérant dans la bande KU, avec les satellites couvrant la Tunisie
                            <br />
                            • Pour la location des services de transmission radio et TV, par utilisation de la station terrienne transportable
                            type D.S.N.G, le client établira des commandes de transmission, par courrier ou par fax adressées à l'ONT,
                            au moins 48 heures avant le début de la transmission, en précisant la date, l'horaire, l'origine,
                            la destination et le satellite choisi. Il est nécessaire aussi communiquer le synopsis du segment spatial qui
                            doit être commandée et payé directement par le client auprès de l'opérateur du satellite choisi.
                            <br />
                            • Les coûts de location sont ceux en vigueur et appliqués par l’ONT. (voir plus loin Tarifs de Location).</p>
                        <br />

                        <p style="font-size: 18px;color: #357ebd;"><b> Caractéristiques techniques</b></p>
                        <br />
                        <div class="col-lg-offset-1">

                            <p>• Bande : KU (13,750 à 14,500 GHZ)</p>
                            <p>• Modulation : digitale MPEG II 4.2.0</p>
                            <p>• Pire : 71 dbW</p>
                            <p>• Antenne : 1,50 – 1,80 m pétales en fibre de carbone</p>
                            <p>• Sécurisation automatique : équipement de transmission redondant en réserve active</p>
                            <p>• La station SNG de l’ONT comporte uniquement l’équipement de transmission, elle n’est pas munie d’équipements de prise de vues et de prise de son.</p>
                        </div>
                        <br />
                        <p style="font-size: 18px;color: #357ebd;"><b> Tarifs en vigueur pour l'année 2012</b></p>
                        <br />

                        <div style="background-color: oldlace">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><b>Durée réservée</b></th>
                                <th><b>Durée effective de la transmission</b></th>
                                <th><b>Coût en DT</b></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1 Journée</td>
                                <td>4 heures maximum</td>
                                <td>3.000,000</td>
                            </tr>

                            <tr>
                                <td>½ journée (Grand Tunis)</td>
                                <td>2 heures maximum</td>
                                <td>2.000,000</td>
                            </tr>

                            <tr>
                                <td>Une heure (Grand Tunis)</td>
                                <td>60 minutes</td>
                                <td>1.400,000</td>
                            </tr>
                            <tr>
                                <td>Demi heure supplémentaire</td>
                                <td>30 minutes</td>
                                <td>800,000</td>
                            </tr>
                            <tr>
                                <td>Quart d'heure supplémentaire</td>
                                <td>15 minutes</td>
                                <td>500,000</td>
                            </tr>
                            </tbody>
                        </table>
                            </div>
                        <br />
                        <br />
                        <hr class="colorgraph">

                    </div>
                </div>
            </div>
        </section>


{% endblock %}