{% extends '::base.html.twig' %}

{% block body %}


    <div id="wrapper" xmlns="http://www.w3.org/1999/html">
        <!-- start header -->

        <!-- end header -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active"> Produits / Transmission satellite radio et TV via station terrienne fixe</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-offset-1" align="justify">
                        <h1> <b> <p style="font-size:22px">Transmission satellite radio et TV via station terrienne fixe</p></b></h1>

                        <hr class="colorgraph">
                        <br />



                        <p style="font-size: 18px;color: #357ebd;"><b>  Présentation</b></p>
                        <br />
                        <p><b>L</b>’ONT offre à tout organisme radio ou TV, national ou étranger préalablement autorisé,
                            les transmissions radio et TV par satellites, à travers la station terrienne fixe, opérant sur le satellite Eutelsat W3A.
                            Cette station opère sur les répéteurs de l’UER(Union Européenne de Radio-diffusion)..</p>
                        <br />

                        <p style="font-size: 18px;color: #357ebd;"><b>   Modalités</b></p>
                        <br />
                        <div>

                            <p><b>P</b>our la location des services de transmission radio et TV à travers la station terrienne fixe,
                                il est demandé de contacter le Planning de l’UER en premier lieu.

                            </p>
                        </div>




                        <br />
                        <hr class="colorgraph">

                    </div>
                </div>
            </div>
        </section>


{% endblock %}